body{		
    background-image:  url(orig1.webp);
    height: 100vh; 
    background-size: 100% 100%;
    text-align:center;
    align-items: center;
    margin-top: 0;
}

#temp{
    font-size: 30px;
}

input{
    font-size: 20px;
}

#button{
    margin: 5px;
}

.weather{
    background-color: bisque;
    border-radius: 10px;
    padding-bottom: 5px;
}

h3{
    color:dimgray;
}

#temp{
    color: #000;
}

h1{
    margin: 0;
}

/* #text:focus{
    background-color: aqua;
} */
  